 
.edit-delete-cursor{
    cursor: pointer;
}
 form #addform {
    max-width: 500px;
    margin: 0 auto;
  }
  
  
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  p {
    color: #bf1650;
  }
  
  /* p::before {
    display: inline;
    content: "⚠ ";
  } */
  
  input #addinput  {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
 label  #addLable  {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  
   
  
  /* button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: lightgray;
  } */
  
 button #addButton [type="submit"]:active,
 input #addinput [type="button"]:active,
 input #addinput [type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input  #addinput :disabled {
    opacity: 0.4;
  }
  
   input #addinput [type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
    input  #addinput [type="button"],
  input  #addinput [type="submit"] {
    -webkit-appearance: none;
  }
  
   
  
  
  
  hr {
    margin-top: 30px;
  }
  
 button   #addButton {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }